/* Styles only used on the cart page */

main {
    background-color: honeydew;
}

/* Styles for top section that has heading and command buttons */
h1 {
    margin-left: 480px;
    padding-top: 20px;
}

#topSection {
    padding: 20px 200px 0 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;\margin-left: 10px;
    background-color: aliceblue;
}

.commandButton {
    height: 30px;
    width: 150px;
    border-radius: 8px;
    margin: 20px;
    text-align: center;
    line-height: 30px;
    background-color: #cce6ff;
    font-size: smaller;
    color: black;
    text-decoration: none;
}

a:hover {
    color: #00aacc;
    text-decoration: none;
}

/* Styles for middle section, which has the grid of cart items  */
#midSection {
    padding: 50px 220px 10px 200px;
    margin-left: 10px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
}

#midSection h1 {
    margin-left: 220px;
}

#cartGrid{
    display: grid;
    grid-template-columns: 150px 200px 200px 150px;
    grid-template-rows: 50px;
}

.emptyCart {
    height: 100px;
}

.gridHeader{
    font-weight: bold;
}

.gridTitle, .gridQuantity, .gridPrice {
    text-align: center;
    margin-bottom: 20px;
}

.gridTotal {
    text-align: right;
}

.gridButton {
    height: 18px;
    border-radius: 4px;
    border: none;
    text-align: center;
    background-color: #cce6ff;
    color: black;
    font-size: 0.875em;
    text-decoration: none;
}

#quantityInput {
    width: 20px;
    text-align: right;
}

#quantity {
    width: 40px;
}

#updateButton {
    height: 18px;
    border-radius: 8px;
    border: none;
    margin: 6px 0 0 4px;
    text-align: center;
    background-color: #cce6ff;
    color: white;
    font-size: 0.875em;
    text-decoration: none;
}

/* Styles for bottom section that has cart totals */
#bottomSection {
    padding: 50px 220px 50px 210px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
}

.errMessage {
    background-color: aliceblue;
    align-self: center;
    color: red;
}